<form name="searchForm">
    <div class="form-group">
        <label for="priductTitle">商品名称：</label>
        <input class="form-control" id="priductTitle" placeholder="商品名称">
    </div>
    <div class="form-group">
        <label for="priductPrice">商品价格：</label>
        <input class="form-control" type="number" id="priductPrice" placeholder="商品价格">
    </div>
    <div class="form-group">
        <label for="priductCategory">商品类别：</label>
        <select id="priductCategory" class="form-control">

        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block">搜索</button>
    </div>
</form>
